<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Sentiment Analysis</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="<%= annotation_path%>">Annotator</a>
            <a class="nav-link" href="/all_themes/">Themes</a>

            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <p style="text-align: left;"> <small>@hash_tag.name</small></p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Theme Name</th>
              <th>View Stats</th>

            </tr>
          </thead>
          <tbody>
            <% @hash_tags.each do |hash_tag| %>
            <tr>
              <td><%= hash_tag.name %></td>
              <td><a href="/themes/<%=hash_tag.id%>">View Stats</a></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Copyright © <a href="www.intelindexer.com"> IntelIndexer</a> 2016 </p>
        </div>
      </div>

    </div>

  </div>

</div>