<div class="pos-f-t">

  <nav class="navbar navbar-light navbar-static-top bg-faded">
    <div class="container">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
      </button>
      <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <a class="navbar-brand" href="<%= root_path %>">Tweet Sentiment Analysis</a>
        <!--<ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Nav item <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Another nav item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">More nav</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Last link</a>
          </li>
        </ul>-->
      </div>
    </div>
  </nav>
</div>

<!-- Begin page content -->

<div class="container">
      <h1>Read tweet and label it</h1>

  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-5" style="color:white">
      <h1>Read tweet and label it</h1>
    </div>
  </div>

  <% if !flash[:notice].nil? %>
    <div class="row">
      <div class="col-md-3">
      </div>

      <div class="col-md-5">
        <div class="alert alert-success" role="alert">
          <strong>Well done!</strong> <%= flash[:notice] %>
        </div>
      </div> 
    
    </div>
  <% end %>


  <% if !@url.nil? %>
    <div class="row">
      <div class="col-md-3">
        <a href="<%= annotation_path %>" style="color: inherit;">
          <i class="fa fa-arrow-left fa-2x pull-right" style="position:relative; top:80px;"></i>
        </a>
      </div>
      <div class="col-md-5">
        <blockquote class="twitter-tweet"><a href="<%= @url %>"></a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col-md-2">
        <a href="<%= annotation_path %>" style="color: inherit;">
          <i class="fa fa-arrow-right fa-2x pull-left" style="position:relative; top:80px;"></i>
        </a>
      </div>

    </div>
    <br/>
    <form action="/sentiment" method="post">
    <%= form_for '', :url => '/sentiment', :authenticity_token => true do |f| %>
      <input type="hidden" name="tweet" value="<%= @tweet.id%>">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-1">
          <input type="radio" name="sentiment" value="1"> Positive
        </div>
        <div class="col-md-1">
          <input type="radio" name="sentiment" value="-1"> Negative
        </div>
        <div class="col-md-1">
          <input type="radio" name="sentiment" value="0"> Neutral
        </div>
        <div class="col-md-1">
          <input type="radio" name="sentiment" value="2"> Ignore
        </div>


      </div>
      <br/>
      <div class="row">
        <div class="col-md-5">   
        </div>
        <div class="col-md-4">
        <button class="btn-primary" name="submit" type="submit" >Submit</button>
        </div>
      </div>
  <% end %>
    <% else %>
        <p class="lead">All available tweets has been lebled. Thank You</p> 
    <% end %>

</div>

<footer class="footer">
  <div class="container" >
    <span class="text-muted">Contact us at saurabh@intelindexer.com</span>
  </div>
</footer>