<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Sentiment Analysis</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="<%= annotation_path%>">Annotator</a>
            <a class="nav-link" href="/all_themes/">Themes</a>

            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <p style="text-align: left;"> <small>Trends updated at </small></p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Tweets</th>
              <th>Positive</th>
              <th>Nagative</th>
              <th>Neutral</th>
              <th>Map</th>

            </tr>
          </thead>
          <tbody>
            <%Trend.current.each_with_index do |trend, index|%>
            <tr>
              <td><%= index +1 %></td>
              <td><%= trend.name%></td>
              <td><%= trend.tweets.count%></td>
              <td><%= trend.positive %></td>
              <td><%= trend.negative %></td>
              <td><%= trend.neutral %></td>
              <td><a href="<%= map_path(trend.id) %>"><i class="fa fa-globe"></i></a></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Copyright © <a href="www.intelindexer.com"> IntelIndexer</a> 2016 </p>
        </div>
      </div>

    </div>

  </div>

</div>