    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 90%;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #floating-panel {
        background-color: #fff;
        border: 1px solid #999;
        left: 25%;
        padding: 5px;
        position: absolute;
        top: 10px;
        z-index: 5;
      }
    </style>
  </head>



   <div id="map"></div>

    
    <script>

      var map, heatmap;
      var markers = [];

      var data = <%=raw @hash.to_json %>;
      debugger;

      function initMap() {

        var mapOptions = {
          center: new google.maps.LatLng(0, 0),
          zoom: 2,
          minZoom: 1,
          mapTypeId: 'satellite'
        };

        var map = new google.maps.Map(document.getElementById('map'),mapOptions );

        var allowedBounds = new google.maps.LatLngBounds(
          new google.maps.LatLng(85, -180), // top left corner of map
          new google.maps.LatLng(-85, 180)  // bottom right corner
        );

    for (var i = 0; i < data.length; i++) {
      addMarker({ lat: parseFloat(data[i].lat), lng: parseFloat(data[i].lng) }, map);
    }

      }

      function toggleHeatmap() {
        heatmap.setMap(heatmap.getMap() ? null : map);
      }

      function changeGradient() {
        var gradient = [
          'rgba(0, 255, 255, 0)',
          'rgba(0, 255, 255, 1)',
          'rgba(0, 191, 255, 1)',
          'rgba(0, 127, 255, 1)',
          'rgba(0, 63, 255, 1)',
          'rgba(0, 0, 255, 1)',
          'rgba(0, 0, 223, 1)',
          'rgba(0, 0, 191, 1)',
          'rgba(0, 0, 159, 1)',
          'rgba(0, 0, 127, 1)',
          'rgba(63, 0, 91, 1)',
          'rgba(127, 0, 63, 1)',
          'rgba(191, 0, 31, 1)',
          'rgba(255, 0, 0, 1)'
        ]
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
      }

      function changeRadius() {
        heatmap.set('radius', heatmap.get('radius') ? null : 20);
      }

      function changeOpacity() {
        heatmap.set('opacity', heatmap.get('opacity') ? null : 0.9);
      }

      var infowindow;
      function addMarker(location, map) {
        var marker = new google.maps.Marker({
          animation: google.maps.Animation.DROP,
          position: location,
          map: map
        });


        markers.push(marker);
      }

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGHLVi14Ia8Tp73Zvmfa6O0o8fVry3dz4&libraries=visualization&callback=initMap">
    </script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->