<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Sentiment Analysis</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="<%= annotation_path%>">Annotator</a>
            <a class="nav-link" href="/all_themes/">Themes</a>

            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <p style="text-align: left;"> <small>@hash_tag.name</small></p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Conutry</th>
              <th>Positive</th>
              <th>Negative</th>
              <th>Neutral</th>
              <th>Total Volume</th>
            </tr>
          </thead>
          <tbody>
            <% @countries.each do |country| %>
            <tr>
              <td><%=  if !country["name"].nil? then country["name"] else "None" end%></td>
              <td><%= country["positive"] %></td>
              <td><%= country["negative"] %></td>
              <td><%= country["neutral"] %></td>
              <td><%= country["volume"] %></td>

            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Copyright © <a href="www.intelindexer.com"> IntelIndexer</a> 2016 </p>
        </div>
      </div>

    </div>

  </div>

</div>