<div class="container">
  <div class="content-main">
    <h2>Geospatial and Temporal Data</h2>
  </div>
  <div class="content-secondary">

    <div class="row col-md-8">
      <b> Theme Name</b> <span> <%= @hash_tag.name %></span>
    </div>

    <div class="row col-md-8">
      <b> Country</b> <span> <%= @country %></span>
    </div>


    <div class="row col-md-8">
      <b> Result Range</b> <span> <%= "#{@from.strftime("%d/%m/%Y")} to #{@to.strftime("%d/%m/%Y")}" %></span>
    </div>

    <div class="row col-md-8">
      <table class="table table-bordered">
        <tr>
          <th>Date</th>
          <th>No of Tweets</th>
          <th>View Tweets</th>

        </tr>
        <% @result.each do |result|%>
          <tr>
            <td><%= result[0].strftime("%d/%m/%Y") %></td>
            <td><%= result[1] %></td>
            <td><a href="#"> View Tweets</a></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>