<div class="container">
  <div class="content-main">
    <h2>Geospatial and Temporal Data</h2>
  </div>
  <div class="content-secondary">
    <%= form_tag('/datasheet', method: "post") do %>
      <div class="form-group">
         <label >Select Theme</label>
        <%= select_tag :hash_tag, options_for_select(HashTag.options_for_select), :id => "hash_tag", include_blank: 'Please Select Theme' %>
      </div>
      <div class="form-group">
        <label >Select Country</label>
        <%= select_tag :country, options_for_select([]), :id => "country" %>
        <small>Please select Theme before selecting country</small>
      </div>
      <div class="form-group">
        <label >Select Start Date</label>
        <%= date_field_tag :start %>
      </div>

      <div class="form-group">
        <label for="">Select End Date</label>
        <%= date_field_tag :end %>
      </div>

      <input type="submit" name="submit" alt="submit" value="submit">
    <% end %>
  </div>
</div>


<script>

  $('#hash_tag').on('change', function (e) {   
    $.ajax({
      url: '/countries/'+$('#hash_tag').val(),
      success: function(data) {
        $('#country').empty();
        $.each(data, function (i, item) {
          $('#country').append($('<option>', { 
              value: item,
              text : item 
          }));
        });
      }
    });
  });

</script>