<div class="container">
  <div class="content-main">
    <h2>Stats</h2>
  </div>
  <div class="content-secondary">



    <div class="row col-md-8">
      <table class="table table-bordered">
        <tr>
          <th>Theme</th>
          <th>No of Tweets Captured</th>

        </tr>
        <% @data.each do |result|%>
          <tr>
            <td><%= result.name %></td>
            <td><%= result.count %></td>
          </tr>
        <% end %>
      </table>
    </div>

  </div>
</div>